.backdrop
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.dialog
{
    position: absolute;
    display: inline-block;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
    margin: 50px;
    overflow: scroll;
    z-index: 2;
}
.dialog:not([aria-modal=true])
{
    margin-top: 3px;
}
.dialog[aria-modal=true]
{
    position: relative;
    display: inline-block;
}
.dialog .heading
{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.dialog .button
{
    margin-right: 5px;
}
.dialog .closebutton
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-image: url(images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
}
.dialog .closebutton:hover
{
    opacity: 1;
}
.dialog .closebutton:not(:focus)
{
    border-color: transparent;
}
.dialog
{
    max-width: 300px;
}
.dialog p
{
    color: rgba(0, 0, 0, 0.8);
}
