.dialog[aria-modal=true]
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity .3s;
    animation: backdrop .3s;
}
.dialog:not([aria-modal=true]),
.dialog[aria-modal=true] > div
{
    position: absolute;
    display: inline-block;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    background: #fff;
    box-sizing: border-box;
    max-width: 300px;
    padding: 15px;
    overflow: scroll;
    z-index: 2;
    transition: opacity .3s, transform .3s;
    animation: dialog .3s;
}
.dialog:not([aria-modal=true])
{
    margin: 50px;
}
.dialog[aria-hidden=true]:not(.transition)
{
    display: none;
}
.dialog[aria-modal=true].transition
{
    opacity: 0;
}
.dialog:not([aria-modal=true]).transition,
.dialog[aria-modal=true].transition > div
{
    transform: scale(2);
    opacity: 0;
}

/*================================================================*/

@keyframes backdrop
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes dialog
{
    from
    {
        opacity: 0;
        transform: scale(0);
    }
    to
    {
        opacity: 1;
        transform: none;
    }
}

/*================================================================*/

.dialog .heading
{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.dialog .button
{
    margin-right: 5px;
}
.dialog .closebutton
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-image: url(images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
}
.dialog .closebutton:hover
{
    opacity: 1;
}
.dialog .closebutton:not(:focus)
{
    border-color: transparent;
}
.dialog p
{
    color: rgba(0, 0, 0, 0.8);
}
