.dialog
{
    position: absolute;
    display: inline-block;
    margin: 50px;
    /*animation: dialog .3s;*/
    transition: opacity .3s;
}
.dialog[aria-modal=true]
{
    position: fixed;
    top: -100px;
    right: -100px;
    left: -100px;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.dialog > div
{
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    max-width: 300px;
    overflow: scroll;
    padding: 15px;
    /*animation: dialogcontent .3s;*/
    transition: transform .3s;
    z-index: 2;
}

.dialog:not([aria-expanded])
{
    z-index: -1;
}
.dialog:not([aria-expanded]),
.dialog[aria-expanded=false]
{
    opacity: 0;
}
.dialog:not([aria-expanded]) > div
{
    transform: scale(.5);
}
.dialog[aria-expanded=false] > div
{
    transform: scale(2);
}

/*================================================================*/

.dialog.transition
{
    opacity: 0;
}
/*.dialog:not([aria-hidden=false]):not(.transition)
{
    opacity: 0;
    z-index: -1;
}*/
/*.dialog:not([aria-hidden=false]) > div
{
    transform: scale(.5);
}*/
.dialog.transition > div
{
    transform: scale(2);
}

/*================================================================*/

@keyframes dialog
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes dialogcontent
{
    from
    {
        transform: scale(0);
    }
    to
    {
        transform: none;
    }
}

/*================================================================*/

.dialog .heading
{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.dialog .button
{
    margin-right: 5px;
}
.dialog .closebutton
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-image: url(images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
}
.dialog .closebutton:hover
{
    opacity: 1;
}
.dialog .closebutton:not(:focus)
{
    border-color: transparent;
}
.dialog p
{
    color: rgba(0, 0, 0, 0.8);
}
