:root
{
    --background: #fff;
    --border-color: rgba(0, 0, 0, .2);
    --border-width: 1px;
    --border-radius: 3px;
    --border: var(--border-width) solid var(--border-color);

    --hover-border-color: rgba(0, 0, 0, .3);

    --focus-border-color: #ffdb4d;
    --focus-box-shadow: 0 0 0 1px var(--focus-border-color);

    --active-background: #f3f1ed;

    --disabled-color: rgba(0, 0, 0, .5);
    --disabled-background: #e8e8e8;
    --disabled-border-color: transparent;
    --disabled-cursor: default;
    
    --pressed-background: #ffeba0;
    --pressed-active-background: #fee481;
    --pressed-disabled-background: rgba(0, 0, 0, .15);

    --button-padding: 5px 12px;
}
.Button
{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    outline: none;

    padding: var(--button-padding);
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background);
}
.Button:hover
{
    border-color: var(--hover-border-color);
}
.Button:focus
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.Button:active,
.Button.active
{
    background: var(--active-background);
}
.Button[aria-pressed=true]
{
    background: var(--pressed-background);
}
.Button[aria-pressed=true]:active,
.Button[aria-pressed=true].active
{
    background: var(--pressed-active-background);
}
.Button[aria-disabled=true]
{
    cursor: var(--disabled-cursor);
    color: var(--disabled-color);
    background: var(--disabled-background);
    border-color: var(--disabled-border-color);
}
.Button[aria-pressed=true][aria-disabled=true]
{
    background: var(--pressed-disabled-background);
}

/*================================================================*/

.Button[aria-haspopup=menu],
.Button[aria-haspopup=listbox]
{
    padding-right: 24px;
}
.Button[aria-haspopup=menu]::after,
.Button[aria-haspopup=listbox]::after
{
    content: url(images/arrow-down.svg);
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 6px;
    transition: transform .1s ease-out 0s;
}
.Button[aria-haspopup=menu][aria-expanded=true]
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.Button[aria-haspopup=menu][aria-expanded=true]::after,
.Button[aria-haspopup=listbox][aria-expanded=true]::after
{
    transform: rotate(-180deg) translateY(-2px);
}
