:root
{
    --checked-background: var(--pressed-background);
    --marker-background: #000;
    --checked-active-background: var(--pressed-active-background);
    --checked-disabled-background: var(--pressed-disabled-background);
    --disabled-marker-opacity: .4;
    --readonly-opacity: .7;
    --checkbox-box-padding: 6px;
    --checkbox-box-margin-right: 6px;
}
.CheckBox
{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.CheckBox::before
{
    content: '';
    display: inline-block;
    vertical-align: top;

    padding: var(--checkbox-box-padding);
    margin-right: var(--checkbox-box-margin-right);
    background: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
}
.CheckBox:hover::before
{
    border-color: var(--hover-border-color);
}
.CheckBox:focus::before
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.CheckBox:active::before,
.CheckBox.active::before
{
    background: var(--active-background);
}
.CheckBox[aria-checked=true]::before,
.CheckBox[aria-checked=mixed]::before
{
    background: var(--checked-background);
}
.CheckBox[aria-checked=true]:active::before,
.CheckBox[aria-checked=true].active::before,
.CheckBox[aria-checked=mixed]:active::before,
.CheckBox[aria-checked=mixed].active::before
{
    background: var(--checked-active-background);
}
.CheckBox[aria-readonly=true]
{
    opacity: var(--readonly-opacity);
}
.CheckBox[aria-disabled=true]
{
    cursor: var(--disabled-cursor);
    color: var(--disabled-color);
}
.CheckBox[aria-disabled=true]::before
{
    background: var(--disabled-background);
    border-color: var(--disabled-border-color);
}
.CheckBox[aria-checked=true][aria-disabled=true]::before
{
    background: var(--checked-disabled-background);
}
.CheckBox[aria-checked=true]::after
{
    content: url(images/checkmark.svg);
    position: absolute;
    top: -5px;
    left: 2px;
}
.CheckBox[aria-checked=mixed]::after
{
    content: '';
    position: absolute;
    display: inline-block;
    background: var(--marker-background);
    width: 8px;
    height: 2px;
    top: 6px;
    left: 3px;
}
.CheckBox[aria-disabled=true]::after
{
    opacity: var(--disabled-marker-opacity);
}
