.CheckBox
{
    display: inline-block;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.CheckBox::before
{
    content: '';
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    vertical-align: top;
    transition: background-color .1s;
}
.CheckBox:hover::before
{
    border-color: rgba(0, 0, 0, 0.3);
}
.CheckBox:focus::before
{
    border-color: var(--focus-color);
    box-shadow: 0 0 0 1px var(--focus-color);
}
.CheckBox:active::before,
.CheckBox.active::before
{
    background: #f3f1ed;
}
.CheckBox[aria-checked=true]::before,
.CheckBox[aria-checked=mixed]::before
{
    background: #ffeba0;
}
.CheckBox[aria-checked=true]:active::before,
.CheckBox[aria-checked=mixed]:active::before,
.CheckBox[aria-checked=true].active::before,
.CheckBox[aria-checked=mixed].active::before
{
    background: #fee481;
}
.CheckBox[aria-readonly=true]
{
    opacity: 0.7;
}

.CheckBox[aria-disabled=true]
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.CheckBox[aria-disabled=true]::before
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.CheckBox[aria-checked=true][aria-disabled=true]::before
{
    background: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.CheckBox[aria-disabled=true]::after
{
    opacity: 0.4;
}
.CheckBox[aria-checked=true]::after
{
    content: url(images/checkmark.svg);
    position: absolute;
    top: -5px;
    left: 2px;
}
.CheckBox[aria-checked=mixed]::after
{
    content: '';
    display: inline-block;
    background: #000;
    width: 8px;
    height: 2px;
    top: 6px;
    left: 3px;
    position: absolute;
}
