.checkbox
{
    display: inline-block;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
}
.checkbox::before
{
    content: '';
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    vertical-align: top;
    transition: background-color .1s;
}
.checkbox:hover::before
{
    border-color: rgba(0, 0, 0, 0.3);
}
.checkbox:focus::before
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
}
.checkbox:active::before,
.checkbox.active::before
{
    background: #f3f1ed;
}
.checkbox[aria-checked=true]::before,
.checkbox[aria-checked=mixed]::before
{
    background: #ffeba0;
}
.checkbox[aria-checked=true]:active::before,
.checkbox[aria-checked=mixed]:active::before,
.checkbox[aria-checked=true].active::before,
.checkbox[aria-checked=mixed].active::before
{
    background: #fee481;
}
.checkbox[aria-readonly=true]
{
    opacity: 0.7;
}

.checkbox[aria-disabled=true]
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.checkbox[aria-disabled=true]::before
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.checkbox[aria-checked=true][aria-disabled=true]::before
{
    background: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.checkbox[aria-disabled=true]::after
{
    opacity: 0.4;
}
.checkbox[aria-checked=true]::after
{
    content: url(images/checkmark.svg);
    position: absolute;
    top: -5px;
    left: 2px;
}
.checkbox[aria-checked=mixed]::after
{
    content: '';
    display: inline-block;
    background: #000;
    width: 8px;
    height: 2px;
    top: 6px;
    left: 3px;
    position: absolute;
}
