:root
{
    --invalid-border-color: red;
}
.ComboBox
{
    display: inline-block;
    position: relative;
}
.ComboBox .ListBox .Box
{
    max-height: 296px;
}
.ComboBox[aria-invalid=true] .TextBox .Box
{
    border-color: var(--invalid-border-color);
}
.ComboBox label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
