.Dialog
{
    position: absolute;
    display: inline-block;
    z-index: 1;

    margin: 0 20px;
    transition: opacity .3s;
}
.Dialog[aria-modal=true]
{
    position: fixed;
    top: -100px;
    right: -100px;
    left: -100px;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;

    --modal-background: rgba(0, 0, 0, 0.5);
    background: var(--modal-background);
}
.Dialog .content
{
    box-sizing: border-box;
    overflow: auto;
    z-index: 2;

    background: var(--background);
    box-shadow: var(--expanded-box-shadow);

    max-width: 300px;
    padding: 15px;
}
.Dialog .content
{
    transition: transform .3s;
}
.Dialog[aria-hidden=true][aria-expanded=false]
{
    display: none;
}
.Dialog[aria-hidden=false][aria-expanded=false],
.Dialog[aria-hidden=true][aria-expanded=true]
{
    opacity: 0;
}
.Dialog[aria-hidden=false][aria-expanded=false] .content
{
    transform: scale(.5);
}
.Dialog[aria-hidden=true][aria-expanded=true] .content
{
    transform: scale(2);
}
