.Grid
{
    display: table;
    border-spacing: 2px;
    user-select: none;
}
.Grid .RowGroup
{
    display: table-row-group;
}
.Grid .Row
{
    display: table-row;
    outline: none;
}
.Grid .Cell
{
    display: table-cell;
    position: relative;
    outline: none;
    box-sizing: border-box;
    border: var(--border);
    min-width: 50px;
    padding: 5px;
}
.Grid .ColumnHeader,
.Grid .RowHeader
{
    border-color: transparent;
}
.Grid .RowHeader
{
    min-width: auto;
    padding-right: 15px;
}
.Grid .Caption
{
    display: table-caption;
    margin-bottom: 5px;
}
.Grid .GridCell:focus,
.Grid .Row:focus .Cell:not(.RowHeader)
{
    border-color: var(--focus-border-color);
    box-shadow: inset var(--focus-box-shadow);
    z-index: 1;
}
.Grid .GridCell[aria-selected=true],
.Grid .Row[aria-selected=true] .Cell:not(.RowHeader)
{
    border-color: var(--focus-border-color);
    background: rgba(255, 235, 160, 0.8);
}
.Grid .GridCell[aria-disabled=true],
.Grid[aria-disabled=true]
{
    color: var(--disabled-color);
}
.Grid .GridCell[aria-disabled=true],
.Grid[aria-disabled=true] .Cell
{
    background: var(--disabled-background);
    border-color: var(--disabled-border-color);
}
