.grid
{
    display: table;
    border-spacing: 2px;
    user-select: none;
}
.grid .rowgroup
{
    display: table-row-group;
}
.grid .row
{
    display: table-row;
    outline: none;
}
.grid .cell
{
    display: table-cell;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    min-width: 80px;
    position: relative;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
}
.grid .columnheader,
.grid .rowheader
{
    border-color: transparent;
}
.grid .rowheader
{
    min-width: auto;
    padding-right: 15px;
}
.grid .cell:focus,
.grid .cell.focus,
.grid .row:focus .cell:not(.rowheader)
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
    z-index: 1;
}
.grid .cell[aria-selected=true],
.grid .row[aria-selected=true] .cell:not(.rowheader)
{
    border-color: #ffdb4d;
    background: rgba(255, 235, 160, 0.8);
}
.grid[aria-disabled=true],
.grid .cell[aria-disabled=true]
{
    color: rgba(0, 0, 0, 0.5);
}
.grid[aria-disabled=true] .cell,
.grid .cell[aria-disabled=true]
{
    background: rgba(0, 0, 0, 0.08);
}
.grid[aria-disabled=true] .cell
{
    border-color: transparent;
}
.grid .cell[aria-dropeffect=move][aria-grabbed=false]:focus
{
    cursor: -webkit-grab;
}
.grid .cell[aria-grabbed=true]:focus:not([aria-readonly=true])
{
    cursor: -webkit-grabbing;
}
.grid.grabbed .cell
{
    cursor: -webkit-grabbing;
}
.grid.grabbed,
.grid .cell[aria-dropeffect=none]
{
    cursor: not-allowed;
}


.grid .caption
{
    display: table-caption;
    margin-bottom: 5px;
}
.grid .cell textarea
{
    font: inherit;
    color: inherit;
    text-align: inherit;
    background: transparent;
    border: none;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    resize: none;
    outline: none;
    box-shadow: 0 0 0 2px #ffdb4d;
}
.grid .cell textarea:not([hidden])
{
    display: inline-block;
}
