.Link
{
    color: #04b;
    outline: none;
}
.Link:focus,
.Link:not([aria-disabled=true]):hover
{
    text-decoration: underline;
}
.Link:focus
{
    box-shadow: 0 0 0 2px var(--focus-border-color);
}
.Link:hover
{
    color: #c00;
    cursor: pointer;
}
.Link[aria-disabled=true]
{
    color: #ccc;
    cursor: default;
}
.Link.external:not(:hover)
{
    color: #070;
}
