:root
{
    --selected-background: var(--pressed-background);
    --selected-active-background: var(--pressed-active-background);
    --selected-disabled-background: var(--pressed-disabled-background);
    --listbox-box-padding: 4px 0;
    --option-padding: 4px 12px;
    --option-checked-padding: 4px 12px 4px 25px;
    --option-marker-padding: 4px 6px;
    --hover-background: rgba(0, 0, 0, 0.01);
    --expanded-box-shadow: 0 0 0 1px rgba(0, 0, 0, .06), 0 10px 20px -5px rgba(0, 0, 0, .4);
}
.ListBox
{
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    outline: none;
}
.ListBox label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.ListBox .box
{
    position: relative;
    display: block;
    overflow-y: auto;
    background: var(--background);
    border: var(--border);
    padding: var(--listbox-box-padding);
}
.ListBox .Option
{
    display: block;
    position: relative;
    cursor: pointer;
    padding: var(--option-padding);
}
.ListBox .Option[aria-hidden=true]
{
    display: none;
}
.ListBox .Option[aria-checked]
{
    padding: var(--option-checked-padding);
}
.ListBox .Option[aria-checked=true]::before
{
    content: url(images/checkmark-small.svg);
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--option-marker-padding);
}
.ListBox:not([aria-disabled=true]) .Option:hover
{
    background: var(--hover-background);
}
.ListBox:hover .box
{
    border-color: var(--hover-border-color);
}
.ListBox:focus .box
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.ListBox:focus .Option[aria-selected=true],
.ListBox:not([aria-disabled=true]) .Option[aria-selected=true]
{
    background: var(--selected-background);
}
.ListBox:focus .Option[aria-selected=true]:active,
.ListBox:focus .Option[aria-selected=true].active
{
    background: var(--selected-active-background);
}

.ListBox[aria-readonly=true] .box,
.ListBox[aria-readonly=true] label
{
    opacity: var(--readonly-opacity);
}

.ListBox[aria-disabled=true] .box
{
    background: var(--disabled-background);
    border-color: var(--disabled-border-color);
}
.ListBox[aria-disabled=true],
.ListBox[aria-disabled=true] .Option,
.ListBox .Option[aria-disabled=true]
{
    color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

.ListBox[aria-disabled=true] .Option[aria-selected=true]:not([aria-checked])
{
    background: var(--selected-disabled-background);
}
.ListBox[aria-disabled=true] .Option[aria-checked=true]::before
{
    opacity: var(--disabled-marker-opacity);
}
.ListBox[aria-expanded]
{
    display: block;
    min-width: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: var(--expanded-box-shadow);
    transition: opacity .2s, transform .2s;
}
.ListBox[aria-expanded] .box
{
    border: none;
}
.ListBox[aria-hidden=true][aria-expanded=false]
{
    display: none;
}
.ListBox[aria-hidden=false][aria-expanded=false],
.ListBox[aria-hidden=true][aria-expanded=true]
{
    opacity: 0;
}
.ListBox[aria-hidden=false][aria-expanded=false]
{
    transform: translateY(20px);
}
