.ListBox
{
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ListBox > span
{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
    overflow-y: auto;
    outline: none;
    padding: 4px 0;
}
.ListBox .Option
{
    display: block;
    position: relative;
    height: 24px;
    padding: 0 13px;
    line-height: 25px;
    cursor: pointer;
}
.ListBox .Option[aria-checked]
{
    padding: 0 30px;
}
.ListBox label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}

.ListBox:not([aria-disabled=true]) .Option:hover
{
    background: rgba(0, 0, 0, 0.01);
}

.ListBox:hover > span
{
    border-color: rgba(0, 0, 0, 0.3);
}

.ListBox:focus > span
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
}
.ListBox:focus .Option[aria-selected=true],
.ListBox:not([aria-disabled=true]) .Option[aria-selected=true]
{
    background: #ffeba0;
}
.ListBox:focus .Option[aria-selected=true]:active,
.ListBox:focus .Option[aria-selected=true].active
{
    background: #fee481;
}
.ListBox .Option[aria-checked=true]::before
{
    content: url(images/checkmark-small.svg);
    position: absolute;
    top: 2px;
    left: 10px;
}

.ListBox[aria-readonly=true] > span,
.ListBox[aria-readonly=true] label
{
    opacity: 0.7;
}

.ListBox[aria-disabled=true] > span
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.ListBox[aria-disabled=true],
.ListBox[aria-disabled=true] .Option
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}

.ListBox[aria-disabled=true] .Option[aria-selected=true]:not([aria-checked])
{
    background: rgba(0, 0, 0, 0.1);
}
.ListBox[aria-disabled=true] .Option[aria-checked=true]::before
{
    opacity: 0.4;
}
.ListBox[aria-expanded]
{
    position: absolute;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06), 0 10px 20px -5px rgba(0, 0, 0, .4);
    background: #fff;
    z-index: 1;
    transition: opacity .2s, transform .2s;
}
.ListBox[aria-hidden=true][aria-expanded=false]
{
    display: none;
}
.ListBox[aria-hidden=false][aria-expanded=false],
.ListBox[aria-hidden=true][aria-expanded=true]
{
    opacity: 0;
}
.ListBox[aria-hidden=false][aria-expanded=false]
{
    transform: translateY(20px);
}
