.Menu
{
    --menu-padding: 4px 0;
    position: relative;
    display: block;
    white-space: nowrap;
    user-select: none;
    outline: none;
    padding: var(--menu-padding);
}
.Menu[aria-expanded]
{
    --menu-expanded-margin: 1px;
    position: absolute;
    transition: opacity .2s, transform .2s;
    z-index: 1;
    margin: var(--menu-expanded-margin);
    background: var(--background);
    box-shadow: var(--expanded-box-shadow);
}
.Menu .MenuItem
{
    display: block;
    position: relative;
    padding: 0 25px;
    line-height: 25px;
    cursor: pointer;
    outline: none;
}
.Menu .MenuItem:focus,
.Menu .MenuItem[aria-expanded=true]
{
    background: #ffeba0;
}
.Menu .MenuItem:focus:active,
.Menu .MenuItem:focus.active
{
    background: #fee481;
}
.Menu .MenuItem[aria-disabled=true]
{
    color: var(--disabled-color);
    cursor: default;
}
.Menu .MenuItem[href]
{
    color: #000;
    text-decoration: none;
}
.Menu .MenuItem[href]:hover,
.Menu .MenuItem[href]:focus
{
    color: #c00;
    text-decoration: underline;
}
.Menu .MenuItemCheckBox[aria-checked=true]::before
{
    content: url(images/checkmark-small.svg);
    position: absolute;
    top: 2px;
    left: 6px;
}
.Menu .Separator
{
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin: 3px 0;
}
.Menu[aria-expanded] .MenuItem[aria-expanded]::after
{
    content: '';
    position: absolute;
    top: 8px;
    right: 4px;
    border: 4px solid transparent;
    border-left: 6px solid rgba(0, 0, 0, .7);
}
.Menu[aria-expanded] .Menu,
.menubar[aria-orientation=vertical] .Menu
{
    margin-top: -3px;
}
.Menu[aria-hidden=true][aria-expanded=false]
{
    display: none;
}
.Menu[aria-hidden=false][aria-expanded=false],
.Menu[aria-hidden=true][aria-expanded=true]
{
    opacity: 0;
}
.Menu[aria-hidden=false][aria-expanded=false]
{
    transform: translateY(20px);
}
.Menu[aria-expanded] .Menu[aria-hidden=false][aria-expanded=false]
{
    transform: translateX(20px);
}
.MenuBar
{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
    border-radius: 3px;
}
.MenuBar > .MenuItem
{
    display: inline-block;
    padding: 0 12px;
}
.MenuBar:hover
{
    border-color: rgba(0, 0, 0, .3);
}
.MenuBar[aria-orientation=vertical]
{
    display: inline-block;
    padding: 4px 0;
}
.MenuBar[aria-orientation=vertical] > .MenuItem
{
    display: block;
}
