.menu
{
    outline: none;
    white-space: nowrap;
    padding: 4px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.menu[aria-expanded]
{
    position: absolute;
    margin: 1px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.menu .menuitem
{
    display: block;
    position: relative;
    padding: 0 13px;
    line-height: 25px;
    cursor: pointer;
    outline: none;
    border-left: 2px solid transparent;
}
.menu:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}
.menu .menuitem:focus,
.menu .menuitem[aria-expanded=true]
{
    background: #ffeba0;
}
.menu .menuitem:focus:active,
.menu .menuitem:focus.active
{
    background: #fee481;
}
.menu .menuitem[aria-disabled=true]
{
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.menu .menuitem[href]
{
    color: #000;
    text-decoration: none;
}
.menu .menuitem[href]:focus
{
    color: #c00;
    text-decoration: underline;
}
.menu .menuitemcheckbox
{
    padding: 0 30px;
}
.menu .menuitemcheckbox[aria-checked=true]::before
{
    content: url(images/checkmark-small.svg);
    position: absolute;
    top: 2px;
    left: 10px;
}

.menubar > .menuitem
{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .2);
}
.menubar > .menuitem:first-child
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.menubar > .menuitem:last-child
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.menubar > .menuitem:not(:last-child)
{
    border-right: none;
}

.menubutton
{
    position: relative;
    padding-right: 24px;
}
.menubutton::after
{
    content: url(images/arrow-down.svg);
    position: absolute;
    top: 4px;
    right: 6px;
    transition: transform 0.1s ease-out 0s;
}
.menubutton[aria-expanded=true]
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
}
.menubutton[aria-expanded=true]::after
{
    transform: rotate(-180deg) translateY(-2px);
}

.menubutton + .menu.popup
{
    margin-top: 3px;
}
