.menu
{
    position: relative;
    display: block;
    outline: none;
    white-space: nowrap;
    padding: 4px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.menu[aria-expanded]
{
    position: absolute;
    margin: 1px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    transition: opacity .2s, transform .2s;
    z-index: 1;
}
.menu .menuitem
{
    display: block;
    position: relative;
    padding: 0 25px;
    line-height: 25px;
    cursor: pointer;
    outline: none;
}
.menu:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}
.menu .menuitem:focus,
.menu .menuitem[aria-expanded=true]
{
    background: #ffeba0;
}
.menu .menuitem:focus:active,
.menu .menuitem:focus.active
{
    background: #fee481;
}
.menu .menuitem[aria-disabled=true]
{
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.menu .menuitem[href]
{
    color: #000;
    text-decoration: none;
}
.menu .menuitem[href]:hover,
.menu .menuitem[href]:focus
{
    color: #c00;
    text-decoration: underline;
}
.menu .menuitemcheckbox[aria-checked=true]::before
{
    content: url(images/checkmark-small.svg);
    position: absolute;
    top: 2px;
    left: 6px;
}
.menu .separator
{
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin: 3px 0;
}
.menu[aria-expanded] .menuitem[aria-expanded]::after
{
    content: '';
    position: absolute;
    top: 8px;
    right: 4px;
    border: 4px solid transparent;
    border-left: 6px solid rgba(0, 0, 0, .7);
}
.menu[aria-expanded] .menu,
.menubar[aria-orientation=vertical] .menu
{
    margin-top: -3px;
}
.menu[aria-hidden=true][aria-expanded=false]
{
    display: none;
}
.menu[aria-hidden=false][aria-expanded=false],
.menu[aria-hidden=true][aria-expanded=true]
{
    opacity: 0;
}
.menu[aria-hidden=false][aria-expanded=false]
{
    transform: translateY(20px);
}
.menu[aria-expanded] .menu[aria-hidden=false][aria-expanded=false]
{
    transform: translateX(20px);
}

.menubar
{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
    border-radius: 3px;
}
.menubar > .menuitem
{
    display: inline-block;
    padding: 0 12px;
}
.menubar:hover
{
    border-color: rgba(0, 0, 0, .3);
}
.menubar[aria-orientation=vertical]
{
    display: inline-block;
    padding: 4px 0;
}
.menubar[aria-orientation=vertical] > .menuitem
{
    display: block;
}
/*.navigation .menubar
{
    border: none;
}
.navigation .menubar .menuitem
{
    padding: 0;
    margin-right: 20px;
}
.navigation .menubar .menuitem:focus
{
    background: transparent;
}*/

.menubutton
{
    position: relative;
    padding-right: 24px;
}
.menubutton::after
{
    content: url(images/arrow-down.svg);
    position: absolute;
    top: 4px;
    right: 6px;
    transition: transform 0.1s ease-out 0s;
}
.menubutton[aria-expanded=true]
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
}
.menubutton[aria-expanded=true]::after
{
    transform: rotate(-180deg) translateY(-2px);
}

.menubutton + .menu.popup
{
    margin-top: 3px;
}
