.PasswordBox .box
{
    padding-right: 26px;
}
.PasswordBox .watchbutton
{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(images/watchbutton.svg) no-repeat 50% 50%;
    position: absolute;
    right: 1px;
    opacity: 0.25;
    outline: none;
}
.PasswordBox:not(.disabled) .watchbutton:hover
{
    cursor: pointer;
    opacity: 0.5;
}
.PasswordBox.disabled .watchbutton
{
    opacity: 0.1;
}
