.progressbar
{
    position: relative;
    width: 250px;
    height: 6px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}
.progressbar div
{
    position: absolute;
    height: 100%;
    background: #ffdb4d;
}
