:root
{
    --progressbar-width: 250px;
    --progressbar-height: 6px;
}
.ProgressBar
{
    position: relative;
    overflow: hidden;

    width: var(--progressbar-width);
    height: var(--progressbar-height);
    border: var(--border);
    border-radius: var(--border-radius);
    
    margin: 15px 0;
}
.ProgressBar div
{
    position: absolute;
    height: 100%;
    background: var(--checked-background);
}
