:root
{
    --radio-border-radius: 50%;
}
.RadioGroup
{
    display: inline-block;
}
.RadioGroup label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.RadioGroup .Radio
{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    outline: none;
}
.RadioGroup .Radio::before
{
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: top;

    background: var(--background);
    border: var(--border);
    padding: var(--checkbox-box-padding);
    margin-right: var(--checkbox-box-margin-right);
    border-radius: var(--radio-border-radius);
}
.RadioGroup .Radio:hover::before
{
    border-color: var(--hover-border-color);
}
.RadioGroup .Radio:focus::before
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.RadioGroup .Radio:active::before,
.RadioGroup .Radio.active::before
{
    background: var(--active-background);
}
.RadioGroup .Radio[aria-checked=true]::before
{
    background: var(--checked-background);
}
.RadioGroup .Radio[aria-checked=true]::after
{
    content: '';
    position: absolute;
    padding: 3px;
    top: 0;
    left: 0;
    margin: 4px;
    border-radius: var(--radio-border-radius);
    background: var(--marker-background);
}
.RadioGroup .Radio[aria-checked=true]:active::before,
.RadioGroup .Radio[aria-checked=true].active::before
{
    background: var(--checked-active-background);
}
.RadioGroup .Radio[aria-disabled=true],
.RadioGroup[aria-disabled=true],
.RadioGroup[aria-disabled=true] .Radio
{
    cursor: var(--disabled-cursor);
    color: var(--disabled-color);
}
.RadioGroup .Radio[aria-disabled=true]::before,
.RadioGroup[aria-disabled=true] .Radio::before
{
    background: var(--disabled-background);
    border-color: var(--disabled-border-color);
}
.RadioGroup .Radio[aria-checked=true][aria-disabled=true]::before,
.RadioGroup[aria-disabled=true] .Radio[aria-checked=true]::before
{
    background: var(--checked-disabled-background);
}
.RadioGroup .Radio[aria-checked=true][aria-disabled=true]::after,
.RadioGroup[aria-disabled=true] .Radio[aria-checked=true]::after
{
    opacity: var(--disabled-marker-opacity);
}
.RadioGroup:not([aria-orientation=vertical]) .Radio
{
    margin-right: 10px;
}
.RadioGroup[aria-orientation=vertical]
{
    display: flex;
    flex-direction: column;
}
.RadioGroup[aria-orientation=vertical] .Radio
{
    margin-bottom: 10px;
}
