.RadioGroup
{
    display: inline-block;
}
.RadioGroup .Radio
{
    margin-right: 10px;
}
.RadioGroup > label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.Radio
{
    position: relative;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}
.Radio::before
{
    content: '';
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    position: relative;
    vertical-align: top;
    border-radius: 50%;
}
.Radio:hover::before
{
    border-color: rgba(0, 0, 0, 0.3);
}
.Radio:focus::before
{
    border-color: #ffdb4d;
}
.Radio:focus::before
{
    box-shadow: 0 0 0 1px #ffdb4d;
}
.Radio:active::before,
.Radio.active::before
{
    background: #f3f1ed;
}
.Radio[aria-checked=true]::before
{
    background: #ffeba0;
}
.Radio[aria-checked=true]::after
{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
}
.Radio[aria-checked=true]:active::before,
.Radio[aria-checked=true].active::before
{
    background: #fee481;
}
.Radio[aria-disabled=true],
.RadioGroup[aria-disabled=true],
.RadioGroup[aria-disabled=true] .Radio
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.Radio[aria-disabled=true]::before,
.RadioGroup[aria-disabled=true] .Radio::before
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.Radio[aria-checked=true][aria-disabled=true]::before,
.RadioGroup[aria-disabled=true] .Radio[aria-checked=true]::before
{
    background: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.Radio[aria-checked=true][aria-disabled=true]::after,
.RadioGroup[aria-disabled=true] .Radio[aria-checked=true]::after
{
    opacity: 0.4;
}
.RadioGroup[aria-orientation=vertical]
{
    display: flex;
    flex-direction: column;
}
.RadioGroup[aria-orientation=vertical] .Radio
{
    margin-bottom: 10px;
}
