.SearchGroup .SearchBox .box
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.SearchGroup .SearchBox.focus + .Button
{
    border-left-color: #ffdb4d;
}
.SearchGroup .SearchBox:hover:not(.focus) + .Button:not(.accent):not(:focus)
{
    border-left-color: rgba(0, 0, 0, 0.3);
}
.SearchGroup .Button
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
