.SearchBox .Box
{
    padding-right: 26px;
    border-radius: 3px;
}
.SearchBox .clearbutton
{
    display: none;
    width: 27px;
    height: 27px;
    background: url(images/cross.svg) no-repeat 50% 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    outline: none;
}
.SearchBox:not([aria-readonly=true]):hover .clearbutton,
.SearchBox:not([aria-readonly=true]).focus .clearbutton
{
    display: inline-block;
}
.SearchBox:not([aria-disabled=true]) .clearbutton:hover
{
    cursor: pointer;
    opacity: 1;
}
.SearchBox[aria-invalid=true] .Box
{
    border-color: red;
}
