.selectbox
{
    display: inline-block;
    outline: none;
}
.selectbox .button
{
    position: relative;
    padding-right: 24px;
}
.selectbox:focus .button
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
}
.selectbox.active .button
{
    background: #f3f1ed;
}
.selectbox .button::after
{
    content: url(images/arrow-down.svg);
    position: absolute;
    top: 4px;
    right: 6px;
    transition: transform 0.1s ease-out 0s;
}
.selectbox.readonly label,
.selectbox.readonly .button
{
    opacity: 0.7;
}
.selectbox.disabled
{
    color: rgba(0, 0, 0, 0.5);
}
.selectbox.disabled .button::after
{
    opacity: 0.2;
}
.selectbox > label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.selectbox .listbox
{
    position: absolute;
    display: block;
    min-width: 150px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.selectbox .listbox > span
{
    border: none;
}
.selectbox .button[aria-expanded=true]::after
{
    transform: rotate(-180deg) translateY(-2px);
}
.selectbox .listbox:not([aria-expanded=true])
{
    display: none;
}
.selectbox:focus .listbox .option[aria-selected=true]
{
    background: #ffeba0;
}
.selectbox .listbox .option[aria-selected=true]:active,
.selectbox .listbox .option[aria-selected=true].active
{
    background: #fee481;
}
