.SelectBox
{
    display: inline-block;
    outline: none;
}
.SelectBox .Button
{
    position: relative;
    padding-right: 24px;
}
.SelectBox:focus .Button
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
}
.SelectBox.active .Button
{
    background: #f3f1ed;
}
.SelectBox .Button::after
{
    content: url(images/arrow-down.svg);
    position: absolute;
    top: 4px;
    right: 6px;
    transition: transform .2s ease-out 0s;
}
.SelectBox.readonly label,
.SelectBox.readonly .Button
{
    opacity: .7;
}
.SelectBox.disabled
{
    color: rgba(0, 0, 0, .5);
}
.SelectBox.disabled .Button::after
{
    opacity: .2;
}
.SelectBox > label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.SelectBox .ListBox
{
    display: block;
    min-width: 150px;
}
.SelectBox .ListBox > span
{
    border: none;
}
.SelectBox .Button[aria-expanded=true]::after
{
    transform: rotate(-180deg) translateY(-2px);
}
.SelectBox:focus .ListBox .Option[aria-selected=true]
{
    background: #ffeba0;
}
.SelectBox .ListBox .Option[aria-selected=true]:active,
.SelectBox .ListBox .Option[aria-selected=true].active
{
    background: #fee481;
}
