.SelectBox
{
    display: inline-block;
}
.SelectBox label
{
    display: block;
    cursor: default;
    margin-bottom: 5px;
}
.SelectBox .ListBox
{
    display: block;
    min-width: 150px;
}
.SelectBox[aria-readonly=true] label,
.SelectBox[aria-readonly=true] .Button
{
    opacity: var(--readonly-opacity);
}
.SelectBox[aria-disabled=true]
{
    color: var(--disabled-color);
}
.SelectBox[aria-disabled=true] .Button::after
{
    opacity: .2;
}
