.slidertrack
{
    display: block;
    width: 200px;
    height: 4px;
    margin: 20px 0 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    position: relative;
}
.slider
{
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    margin-top: -12px;
    outline: none;
}
.slider:hover
{
    border-color: rgba(0, 0, 0, 0.3);
}
.slider:focus
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
    z-index: 1;
}
