.Slider
{
    display: inline-block;
    user-select: none;
}
.Slider .Track
{
    position: relative;
    display: block;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 200px;
    height: 4px;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.05);
}
.Slider .Thumb
{
    display: block;
    position: absolute;
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background);
    width: 26px;
    height: 26px;
    margin-top: -12px;
}
.Slider .Thumb:hover
{
    border-color: var(--hover-border-color);
}
.Slider .Thumb:focus
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
    z-index: 1;
}
.Slider label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.Slider[aria-orientation=vertical]
{
    margin-right: 20px;
}
.Slider[aria-orientation=vertical] .Track
{
    width: 4px;
    height: 150px;
    margin: 15px auto;
}
.Slider[aria-orientation=vertical] .Thumb
{
    margin-left: -12px;
    margin-top: 0;
}
.Slider[aria-readonly=true]
{
    opacity: var(--readonly-opacity);
}
.Slider[aria-disabled=true]
{
    color: var(--disabled-color);
}
.Slider[aria-disabled=true] .Track,
.Slider[aria-disabled=true] .Thumb
{
    border-color: var(--disabled-border-color);
    background: var(--disabled-background);
}
