.SliderTrack
{
    position: relative;
    display: block;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 200px;
    height: 4px;
    margin: 20px 0 40px;
    background: rgba(0, 0, 0, 0.05);
}
.Slider
{
    display: block;
    position: absolute;
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background);
    width: 26px;
    height: 26px;
    margin-top: -12px;
}
.Slider:hover
{
    border-color: var(--hover-border-color);
}
.Slider:focus
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
    z-index: 1;
}
