.SpinButton
{
    display: inline-block;
    outline: none;
}
.SpinButton .box
{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.SpinButton .text
{
    display: inline-block;
    border-style: solid;
    border-color: rgba(0, 0, 0, .2);
    border-width: 0 1px;
    padding: 5px;
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    cursor: text;
    outline: none;
}
.SpinButton .Button
{
    padding: 5px 10px;
    border: none;
}
.SpinButton .Button:first-child
{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.SpinButton .Button:last-child
{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.SpinButton label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.SpinButton:hover .box,
.SpinButton:hover:not(:focus):not([aria-disabled=true]) .text
{
    border-color: rgba(0, 0, 0, .3);
}
.SpinButton:focus .box
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
}
.SpinButton[aria-readonly=true]
{
    opacity: .7;
}
.SpinButton[aria-disabled=true]
{
    color: rgba(0, 0, 0, .5);
}
.SpinButton[aria-disabled=true] .box
{
    border-color: transparent;
}
.SpinButton[aria-disabled=true] .text
{
    border-color: transparent;
    background: rgba(0, 0, 0, .08);
    cursor: default;
}
.SpinButton:not([aria-valuenow]) .text::before
{
    content: ' ';
}
