:root
{
    --spinbutton-edit-padding: 5px;
    --spinbutton-edit-width: 40px;
    --spinbutton-button-padding: 5px 10px;
}
.SpinButton
{
    display: inline-block;
    outline: none;
}
.SpinButton label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
.SpinButton .box
{
    display: inline-block;
    border: var(--border);
    border-radius: var(--border-radius);
}
.SpinButton .edit
{
    display: inline-block;
    border-style: solid;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    cursor: text;
    outline: none;
    border-color: var(--border-color);
    border-width: 0 var(--border-width);
    padding: var(--spinbutton-edit-padding);
    width: var(--spinbutton-edit-width);
}
.SpinButton .Button
{
    border: none;
    padding: var(--spinbutton-button-padding);
}
.SpinButton .Button:first-child
{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.SpinButton .Button:last-child
{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.SpinButton:hover .box,
.SpinButton:hover:not(:focus):not([aria-disabled=true]) .edit
{
    border-color: var(--hover-border-color);
}
.SpinButton:focus .box
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.SpinButton[aria-readonly=true]
{
    opacity: var(--readonly-opacity);
}
.SpinButton[aria-disabled=true]
{
    color: var(--disabled-color);
}
.SpinButton[aria-disabled=true] .box,
.SpinButton[aria-disabled=true] .edit
{
    border-color: var(--disabled-border-color);
}
.SpinButton[aria-disabled=true] .edit
{
    background: var(--disabled-background);
    cursor: var(--disabled-cursor);
}
.SpinButton:not([aria-valuenow]) .edit::before
{
    content: ' ';
}
.SpinButton:not([aria-disabled=true]) .Button[aria-disabled=true]
{
    background: transparent;
    color: #ccc;
}
