.Switch
{
    line-height: 1.8;
}
.Switch::before
{
    width: 50px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}
.Switch[aria-checked]::before
{
    background: transparent;
}
.Switch[aria-checked=true]::after,
.Switch:not([aria-checked=true])::after
{
    content: '';
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    background: rgba(0, 0, 0, .1);
    top: 3px;
    transition: left .1s;
}
.Switch:not([aria-checked=true])::after
{
    left: 3px;
}
.Switch[aria-checked=true]::after
{
    left: 33px;
    background: #ffeba0;
}
.Switch[aria-checked].active::before
{
    background: #f3f1ed;
}
.Switch[aria-checked=true][aria-disabled=true]::before
{
    background: rgba(0, 0, 0, 0.08);
}
.Switch[aria-checked=true][aria-disabled=true]::after
{
    background: rgba(0, 0, 0, 0.15);
}
