.TabList
{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px 0;
    user-select: none;
}
.TabList:hover
{
    border-color: rgba(0, 0, 0, 0.2);
}
.TabList .Tab
{
    color: #aaa;
    display: inline-block;
    margin: 0 15px;
    padding: 16px 0 18px;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-color: transparent;
    border-width: 2px 0 0;
}
.TabList .Tab:hover
{
    color: #c00;
}
.TabList .Tab[aria-selected=true]
{
    color: black;
    cursor: default;
    border-color: black;
}
.TabList .Tab:focus
{
    border-color: #ffdb4d;
}
.TabList[aria-orientation=vertical]
{
    display: inline-block;
    border-width: 0 1px;
}
.TabList[aria-orientation=vertical] .Tab
{
    display: block;
    border-width: 0 0 0 2px;
    margin: 10px 0;
    padding: 0 18px;
}
.TabPanel:not([aria-expanded=true])
{
    display: none;
}
