:root
{
    --textbox-width: 180px;
    --textbox-padding: 0 8px;
    --textbox-edit-height: 15px;
    --textbox-edit-padding: 5px 0;
    --textbox-multiline-height: 60px;
    --textbox-placeholder-color: #aaa;
}
.TextBox
{
    display: inline-block;
    position: relative;
}
.TextBox .input
{
    display: block;
    box-sizing: border-box;
    width: var(--textbox-width);
    padding: var(--textbox-padding);
    border: var(--border);
    background: var(--background);
}
.TextBox .edit
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    width: 100%;
    height: var(--textbox-edit-height);
    padding: var(--textbox-edit-padding);
}
.TextBox:hover .input
{
    border-color: var(--hover-border-color);
}
.TextBox.focus .input
{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}
.TextBox[aria-readonly=true]
{
    opacity: var(--readonly-opacity);
}
.TextBox[aria-disabled=true]
{
    color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}
.TextBox[aria-disabled] .input
{
    background: var(--disabled-background);
    border-color: var(--disabled-border-color);
}
.TextBox[aria-multiline] .edit
{
    white-space: normal;
    overflow: auto;
    height: var(--textbox-multiline-height);
}
.TextBox .placeholder
{
    position: absolute;
    padding: var(--textbox-edit-padding);
    color: var(--textbox-placeholder-color);
}
.TextBox[data-value] .placeholder
{
    display: none;
}
.TextBox label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
