.textbox
{
    display: inline-block;
    position: relative;
}
.textbox .input
{
    display: block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 8px;
    width: 180px;
    box-sizing: border-box;
}
.textbox .edit
{
    display: block;
    width: 100%;
    height: 15px;
    padding: 5px 0;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}
.textbox:hover .input
{
    border-color: rgba(0, 0, 0, 0.3);
}
.textbox.focus .input
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
}
.textbox[aria-readonly=true]
{
    opacity: 0.7;
}
.textbox[aria-disabled=true]
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.textbox[aria-disabled] .input
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.textbox[aria-multiline] .edit
{
    height: 60px;
    white-space: normal;
    overflow: auto;
}
.textbox .placeholder
{
    position: absolute;
    padding: 5px 0;
    color: #aaa;
}
.textbox[data-value] .placeholder
{
    display: none;
}
.textbox > label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}

/*================================================================*/

.textboxgroup
{
    display: inline-block;
}
.textboxgroup .textbox:not(:last-child) > .input
{
    border-right: none;
}
.textboxgroup .textbox.focus + .textbox > .input
{
    border-left-color: #ffdb4d;
}
.textboxgroup .textbox.hover:not(.focus) + .textbox:not(:focus) > .input
{
    border-left-color: rgba(0, 0, 0, 0.3);
}


/*.textboxgroup
{
    display: inline-block;
}
.textboxgroup .textinput:not(:focus):not(:last-of-type)
{
    border-right-width: 0;
}
.textboxgroup .textinput:focus + .textinput
{
    border-left-width: 0;
}
.textboxgroup .textinput[aria-checked=true] + .textinput:not(:focus):not(:hover)
{
    border-left-color: rgba(153, 122, 0, 0.5);
}
.textboxgroup:hover .textinput:hover + .textinput:not(:focus)
{
    border-left-color: rgba(0, 0, 0, 0.3);
}*/
