.Tree
{
    display: inline-block;
    padding-left: 0;
    user-select: none;
}
.Tree .Group
{
    display: block;
    padding-left: 20px;
}
.TreeItem
{
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
}
.TreeItem:focus
{
    box-shadow: 0 0 0 2px #ffdb4d;
}
.TreeItem[aria-expanded] > .Button
{
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    line-height: 11px;
    padding: 0 2px;
    top: 4px;
    left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: white;
}
.TreeItem[aria-expanded] > .Button:hover
{
    border-color: rgba(0, 0, 0, 0.3);
    color: #000;
}
.TreeItem[aria-expanded=false] > .Button::before
{
    content: '+';
}
.TreeItem[aria-expanded=true] > .Button::before
{
    content: '−';
}
.TreeItem[aria-expanded=false] .Group
{
    display: none;
}
.TreeItem > label
{
    display: block;
    padding: 3px 23px;
}
.TreeItem[aria-selected=true] > label
{
    background: #ffeba0;
}
