.Tree
{
    user-select: none;
}
.Tree .TreeItem
{
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
}
.Tree .Group
{
    padding-left: 20px;
}
.Tree .TreeItem:focus
{
    box-shadow: 0 0 0 2px var(--focus-border-color);
}
.Tree .TreeItem[aria-expanded] > .Button
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2px;
    margin: 4px 5px;
    line-height: 11px;
    border-radius: 2px;
    background: var(--background);
    color: var(--disabled-color);
    border: var(--border);
}
.Tree .TreeItem[aria-expanded] > .Button:hover
{
    border-color: rgba(0, 0, 0, 0.3);
    color: #000;
}
.Tree .TreeItem[aria-expanded=false] > .Button::before
{
    content: '+';
}
.Tree .TreeItem[aria-expanded=true] > .Button::before
{
    content: '−';
}
.Tree .TreeItem[aria-expanded=false] .Group
{
    display: none;
}
.Tree .TreeItem > label
{
    display: block;
    padding: 3px 23px;
}
.Tree .TreeItem[aria-selected=true] > label
{
    background: var(--selected-background);
}
