.FloatMenuTest
{
    position: fixed;
    margin: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.FloatMenuTest .Button
{
    position: absolute;
}
.FloatMenuTest .Button:nth-of-type(1)
{
    left: 0;
    top: 0;
}
.FloatMenuTest .Button:nth-of-type(2)
{
    right: 0;
    top: 0;
}
.FloatMenuTest .Button:nth-of-type(3)
{
    right: 0;
    bottom: 0;
}
.FloatMenuTest .Button:nth-of-type(4)
{
    left: 0;
    bottom: 0;
}
.FloatMenuTest .Menu[aria-expanded=false-true]
{
    transform: translate(20px, 20px);
}
.FloatMenuTest .Menu[aria-expanded=false-true][style~="right:"]
{
    transform: translate(-20px, 20px);
}
.FloatMenuTest .Menu[aria-expanded=false-true][style~="bottom:"]
{
    transform: translate(20px, -20px);
}
.FloatMenuTest .Menu[aria-expanded=false-true][style~="bottom:"][style~="right:"]
{
    transform: translate(-20px, -20px);
}
