article
{
    display: inline-block;
    padding: 0 20px;
    margin-right: 80px;
    vertical-align: top;
}
section
{
    margin: 20px 0;
}
section h1
{
    font-weight: normal;
}
h1 a:not(:hover)
{
    color: #000;
    text-decoration: none;
}

/*================================================================*/

.ListBox > span
{
    max-height: 138px;
}
.SelectBox .Button
{
    min-width: 130px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TabPanel
{
    text-align: center;
    font-size: 46px;
    opacity: 0.3;
    cursor: default;
    padding: 16px 40px;
}
.TabPanel:hover
{
    background: rgba(0, 0, 0, .05);
}
.TabList[aria-orientation=vertical] ~ .TabPanel[aria-expanded=true]
{
    display: inline-block;
    vertical-align: top;
}
.Dialog .Heading
{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.Dialog .Button
{
    margin-right: 5px;
}
.Dialog .CloseButton
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-image: url(yandex/images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
}
.Dialog .CloseButton:hover
{
    opacity: 1;
}
.Dialog .CloseButton:not(:focus)
{
    border-color: transparent;
}
.Dialog p
{
    color: rgba(0, 0, 0, 0.8);
}
#example-slider label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
    user-select: none;
}
