[role~=Main],
[role~=Heading],
[role~=Paragraph],
[role~=Form]
{
    display: block;
}
[role~=Heading]
{
    font-size: 2em;
    font-weight: bold;
    margin: .67em 0;
}
[role~=Paragraph]
{
    margin: 1em 0;
}
[role~=TextBox],
[role~=Button]
{
    border: .1em solid #aaa;
    display: inline-block;
    border-radius: .5em;
}
[role~=TextBox]
{
    padding: .5em;
    min-width: 10em;
    cursor: text;
    margin: 0 .5em;
}
[role~=Button]
{
    cursor: pointer;
    padding: .5em 1em;
}
